# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/configuration-reference
version: 2.1

orbs:
  snyk: snyk/snyk@1.7.0

executors:
  dotnet-executor:
    docker:
      - image: mcr.microsoft.com/dotnet/sdk:6.0
  snyk-executor:
    docker:
      - image: cimg/base:stable

jobs:
  build-backend:
    executor: dotnet-executor
    steps:
      - checkout
      - run:
          name: Build Backend
          command: dotnet build
  
  test-backend:
    executor: dotnet-executor
    steps:
      - checkout
      - run:
          name: Test Backend
          command: dotnet test
  
  snyk-backend:
    executor: snyk-executor
    steps:
      - checkout
      - run: 
          name: install dotnet
          command: |
            declare repo_version=$(if command -v lsb_release &> /dev/null; then lsb_release -r -s; else grep -oP '(?<=^VERSION_ID=).+' /etc/os-release | tr -d '"'; fi)
            wget https://packages.microsoft.com/config/ubuntu/$repo_version/packages-microsoft-prod.deb -O packages-microsoft-prod.deb
            sudo dpkg -i packages-microsoft-prod.deb
            rm packages-microsoft-prod.deb
            sudo apt-get update
            sudo apt-get install -y dotnet-sdk-7.0
      - run: 
          name: dotnet restore
          command: dotnet restore
      - snyk/scan:
          additional-arguments: --file=Spotify^ Merger.sln

workflows:
  build-test-scan:
    jobs:
      - build-backend:
          filters:
            branches:
              only:
                - main
      - test-backend:
          requires:
            - build-backend
      - snyk-backend:
          requires:
            - build-backend
            - test-backend
          